<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{cliente.id? 'Edição':'Cadastro'}}</li>
</ol>

<div class="container">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success==true&&error==false">
                    Cliente Salvo/Atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="success==false&&error==true">
                    Por favor, preencha todos os campos obrigatórios.
                </div>
            </div>
        </div>
        <div class="row" *ngIf="cliente.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Id:</label>
                    <input type="text" class="form-control"
                    [ngModel]="cliente.id" name="id" disabled="true" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Cadastro:</label>
                    <input type="text" class="form-control"
                    [ngModel]="cliente.dataFormatadaPtBr" name="dataFormatadaPtBr" disabled="true" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="cliente.nome"  name="nome"
                    required/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.cpf"  name="cpf" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <button type="submit" class="btn btn-success" *ngIf="!cliente.id">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="submit" class="btn btn-primary" *ngIf="cliente.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>
                <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>           
        </div>     
    </form>
</div>